<!DOCTYPE html>
<html>
    <head>
        <title>rangicus</title>

        <link rel="stylesheet" href="/lib/bootstrap-5.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <div id="page-header" class="text-center p-2">
            <h1>rangicus</h1>
            <h2 class="fw-light">my personal site and portfolio</h2>
        </div>

        <div class="container">

            <h1 class="text-center">Projects</h1>
            <p class="text-center small">
                This is a random assortment of projects that I've found myself working on in my spare time. <br>
                If you have any ideas for additions to projects or new ones entirely, just shoot me an email and I'll look into it.
            </p>


            <div class="row row-cols-md-4 g-3">

                <% if (projects.loaded) { %>
                    <% for (let project in projects.list) { %>
                        <div class="col">
                            <div class="card" style="width: 18rem;">

                                <img src="<%= projects.list[project].img %>" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><%= projects.list[project].name %></h5>
                                    <p class="card-text"><%= projects.list[project].desc %></p>
                                    <a href="<%= projects.list[project].link %>" class="btn btn-primary">Go!</a>
                                </div>

                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <span>Hmm, projects can't be loaded for some reason.</span>
                <% } %>

            </div>
            
        </div>

        <footer class="text-center p-1">
            <em>Xavier Horn 2020</em>

            <!-- Links -->
            <br>
            <a href="https://github.com/rangicus">GitHub</a>
            <a href="https://www.linkedin.com/in/xavier-horn/">LinkedIn</a>
            <a href="mailto:xavierhorn00@gmail.com">Mail</a>
        </footer>

        <style>
            /* Header */
            #page-header {
                background-color: #003459;
            }

            #page-header h1, #page-header h2 {
                color: white;
            }

            /* Footer */
            footer {
                background-color: #003459;

                position: fixed;
                left: 0; bottom: 0;

                text-align: center;

                width: 100%;
            }

            footer em {
                color: white;
            }

            footer a {
                color: white;
                text-decoration: none;
                font-weight: bold;
            }

            footer a:hover {
                color: #008080;

                text-decoration: underline;
            }

            footer ul li {
                float: left;
            }
        </style>
    </body>
</html>